<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Walmart Automation Suite" verbose="1">
  <listeners>
    <listener class-name="Automation.TestComponents.Listeners"/>
  </listeners>

  <test name="Walmart BDD Tests">
    <classes>
      <class name="Automation.cucumber.TestNGTestRunner"/>
    </classes>
  </test>
</suite>